div.color-container.red {
    background-color: rgb(246, 80, 88);
}

div.color-container.yellow {
    background-color: rgba(251, 222, 68);
}

div.color-container.grey {
    background-color: rgba(95, 137, 157);
}

.color-container {
    width: 32%;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: white;
    text-shadow: 1px 1px gray;
    border: 1px solid gray;
    margin-left:10px;
}

.font-title {
    text-decoration: underline;
}

.koulen {
    font-family: 'Koulen', cursive;
    font-size: 20px;
    letter-spacing: 2px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.amatic {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    letter-spacing: 2px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.container {
    border: 2px solid black;
    margin: auto;
    margin-bottom: 10px;
    width: 75%;
    padding: 20px 10px;
}

h1.heading {
    margin: auto;
    width: 75%;
    padding: 20px 0px;
    font-family: 'Koulen', cursive;
    font-size: 50px;
    letter-spacing: 4px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

div.color-container p {
    padding: 15px 0px 10px 30px;
}

.color-name {
    font-size: 20px;
}