div.color-container.red {
    background-color: rgb(246, 80, 88);
}

div.color-container.yellow {
    background-color: rgba(251, 222, 68);
}

div.color-container.grey {
    background-color: rgba(95, 137, 157);
}

.font-title {
    text-decoration: underline;
}

.koulen {
    font-family: 'Koulen', cursive;
}

.amatic {
    font-family: 'Amatic SC', cursive;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.container {
    border: 2px solid black;
    margin: auto;
    width: 75%;
    padding: 10px;
}

/* h1 {
    position: relative;
} */
